@media (max-width:768px){
    .catagories-section{
        width: 100%;
    }
    .main1{
        width: 100%;
    }
}
/* @media (min-width:769px){
    .catagories-section{
        width: 100%;
    }
    .main1{
        width: 100%;
    }
}
@media (min-width:1024px) {
    .catagories-section{
        width: 100%;
    }
    .main1{
        width: 100%;
    }
} */